#main {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: lighter;
    margin: 90;
}
#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    color: #000;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 1.21em;
    line-height: 2.2em;
    width: 89rem;
    height: 11rem;
}

body {
    display: flex;
    position: absolute;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: lighter;
    width: 98%;
    height: 100%;
    color: black;
}
.popup-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    max-width: 100%;
    height: 600px;
    max-height: 100%;
    padding: 20px 50px 20px 20px;
    overflow: auto;
    z-index: 1;
    background-color: #fcfcfc;
    align-items: center;
    /* overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    align-items: center;
    background-color: #fcfcfc;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 70%;
    margin: auto; */
}
.popupimage {
    height: 26rem;
    width: 37rem;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#uploadedby {
    font-style: italic;
    font-size: 16px;
}
.container {
    font-family: "Barlow Condensed", sans-serif;
    background-color: #ffdd75;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
#nav {
    background-color: #ffdd75;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1rem;
}
.customHr {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-self: center;
    margin-left: 8rem;
    justify-content: center;
    align-items: center;
    width: 84%;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;
    background-color: black;
    /* margin-top: -6px;
    margin-bottom: 10px; */
}
.emptyspace {
    background-color: #ffdd75;
    width: 100%;
    height: 3rem;
}
#image {
    display: flex;
    justify-content: flex-start;
    width: 4rem;
    height: 4rem;
    margin-left: 0;
    margin-bottom: 15px;
}
.card {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: lighter;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    margin-top: 1rem;
}
/* .card:hover {
    transform: scale(1.1);
} */
img {
    object-fit: cover;
    justify-content: center;
    height: 22.5rem;
    width: 28.5rem;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}
.imgtext {
    margin: 1rem;
    padding-left: 0.5rem;
}
.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 4rem;
    background-color: #ffdd75;
    padding-bottom: 2rem;
}
input {
    margin: 1rem;
    height: 2rem;
    width: 9rem;
}
button {
    height: 2rem;
    width: 9rem;
    margin: 1rem;
    cursor: pointer;
}
.comments ul {
    padding-left: 0;
    list-style: none;
}
#string {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 23px;
    padding: 3px;
}
#string1 {
    font-family: "Barlow Condensed", sans-serif;
    font-style: italic;
    font-size: 19px;
    padding: 3px;
}
.customHr1 {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    width: 84%;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;
    background-color: black;
}
label {
    font-family: "Barlow Condensed", sans-serif;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 3px;
    padding-bottom: 8px;
    border: 2px solid black;
}
/* ############################### input field ############################### */

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.25em;
    /* font-weight: 700; */
    color: black;
    background-color: white;
    display: inline-block;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #ffdd75;
}
.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
    pointer-events: none;
}
